<div class="modal" [ngClass]="{'show': isOpen}">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <button class="completed" (click)="onToggleCompleted()" [ngClass]="{ 'checked': item.completed }">
      <span class="text">{{!item.completed | statusPipe}}</span>
    </button>
    <button (click)="onNavigateToTask()" class="see-task">
      <span class="text">See Task</span>
    </button>
    <button class="delete" (click)="onDeleteValue()">
      <span class="text">Delete</span>
    </button>
  </div>
</div>
