<h2>Stats</h2>

<div class="stats">
  <div class="chart-container-status">
    <div class="chart-status">
      <h3>Pending</h3>
      <canvas id="pendingChart">{{ chartPending }}</canvas>
    </div>
    <div class="chart-status">
      <h3>On Process</h3>
      <canvas id="onProcessChart">{{ chartOnProcess }}</canvas>
    </div>
    <div class="chart-status">
      <h3>Completed</h3>
      <canvas id="completedChart">{{ chartCompleted }}</canvas>
    </div>
  </div>
  <div class="chart-container-priorities">
    <div class="chart-priorities">
      <h3>Monthly</h3>
      <canvas id="monthlyChart">{{ chartMonthly }}</canvas>
    </div>
    <div class="chart-priorities">
      <h3>Priorities Chart</h3>
      <canvas id="prioritiesChart">{{ chartPriorities }}</canvas>
    </div>
  </div>
</div>
