h2{
  font-size: 27px;
}

.list{
  background-color: #f2f1f2;
  width: 75%;
  box-shadow: 0 0 7px -2px #444444;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 5px;
}

#tasks {
  background-color: white;
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
}

#tasks th, #tasks td {
  border: 1px solid #ddd;
  padding: 8px;
}


#tasks th{
  background-color: #ffffff;
  text-align: left;
}

th.actions::after {
  content: "Actions";
}

.odd-row {
  background-color: #f6f6f6;
}

.even-row {
  background-color: #e8e8e8;
}

.completed,
.see-task,
.delete,
.actions-button {
  padding: 8px 15px;
  margin-right: 10px;
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-family: inherit;
  border-radius: 4px;
  box-sizing: border-box;
}

.completed {
  background-color: green;
}

.see-task {
  background-color: orange;
}

.delete {
  background-color: crimson;
}

.completed:hover{
  background-color: rgb(1, 88, 1);
}

.see-task:hover{
  background-color: rgb(228, 149, 3);
}

.delete:hover {
  background-color: rgb(192, 21, 55);
}

.actions-button {
  background-color: royalblue;
}

.completed .text,
.see-task .text,
.delete .text {
  display: inline-block;
}

.completed .icon,
.see-task .icon,
.delete .icon {
  display: none;
}

.actions-button{
  display: none;
}

.actions-button .text{
  display: none;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 27px;
    margin: 10px 20px 0 20px;
  }

  .list{
    background-color: #f2f1f2;
    width: 90%;
    margin: 20px;
    box-shadow: 0 0 7px -2px #444444;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 20px;
  }

  .completed .text,
  .see-task .text,
  .delete .text,
  .actions-button .text {
    display: none;
  }

  .completed,
  .see-task,
  .delete {
    display: none;
  }

  /*.completed::before {*/
  /*  content: url('/assets/svg/check_box_checked.svg');*/
  /*}*/
  /*.completed.checked::before {*/
  /*  content: url('/assets/svg/check_box_unchecked.svg');*/
  /*}*/

  /*.see-task::before {*/
  /*  content: url('/assets/svg/info.svg');*/
  /*}*/

  /*.delete::before {*/
  /*  content: url('/assets/svg/delete.svg');*/
  /*}*/

  .actions-button::before {
    content: url("/assets/svg/more_info.svg");
  }

  /*.completed,*/
  /*.see-task {*/
  /*  padding: 5px;*/
  /*  margin-right: 5px;*/
  /*}*/

  /*.delete {*/
  /*  padding: 5px;*/
  /*}*/

  .actions-button {
    padding: 1px;
    display: inline;
  }

  #tasks td {
    border: 1px solid #ddd;
    padding: 8px 0 8px 8px;
  }

  th.actions::after {
    content: "Act.";
  }
}
