h2{
  font-size: 27px;
}

.title-container{
  display: flex;
  justify-content: space-between;
}

filters{
  padding: 0 50px 0 0;
}

.list{
  background-color: #f2f1f2;
  width: 97%;
  box-shadow: 0 0 7px -2px #444444;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 5px;
}

#tasks {
  background-color: white;
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
}

#tasks th, #tasks td {
  border: 1px solid #ddd;
  padding: 8px;
}


#tasks th{
  background-color: #ffffff;
  text-align: left;
}

th.actions::after {
  content: "Actions";
}

th.priority-title::after {
  content: "Priority";
}

.odd-row {
  background-color: #f6f6f6;
}

.even-row {
  background-color: #e8e8e8;
}

.status,
.see-task,
.delete,
.actions-button {
  padding: 8px 15px;
  margin-right: 10px;
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-family: inherit;
  border-radius: 4px;
  box-sizing: border-box;
}

.status {
  background-color: green;
}

.see-task {
  background-color: orange;
}

.delete {
  background-color: crimson;
}

.status:hover{
  background-color: rgb(1, 88, 1);
}

.see-task:hover{
  background-color: rgb(228, 149, 3);
}

.delete:hover {
  background-color: rgb(192, 21, 55);
}

.actions-button {
  background-color: royalblue;
}

.status .text,
.see-task .text,
.delete .text {
  display: inline-block;
}

.status .icon,
.see-task .icon,
.delete .icon {
  display: none;
}

.actions-button{
  display: none;
}

.actions-button .text{
  display: none;
}

.priority-flag {
  justify-content: center;
  align-items: center;
}

.flag {
  width: 20px; /* adjust as needed */
  height: 20px; /* adjust as needed */
}


.priority-title {
  width: 30px;
}

.duedate-title {
  width: 70px;
}

.created-at {
  width: 80px;
}

.id-title{
  width: 10px;
}

.status-title{
  width: 90px;
}

.actions {
  width: 180px;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 27px;
    margin: 10px 20px 0 20px;
  }

  .list{
    background-color: #f2f1f2;
    width: 90%;
    margin: 20px;
    box-shadow: 0 0 7px -2px #444444;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 20px;
  }

  .status .text,
  .see-task .text,
  .delete .text,
  .actions-button .text {
    display: none;
  }

  .status,
  .see-task,
  .delete {
    display: none;
  }

  /*.status::before {*/
  /*  content: url('/assets/svg/check_box_checked.svg');*/
  /*}*/
  /*.status.checked::before {*/
  /*  content: url('/assets/svg/check_box_unchecked.svg');*/
  /*}*/

  /*.see-task::before {*/
  /*  content: url('/assets/svg/info.svg');*/
  /*}*/

  /*.delete::before {*/
  /*  content: url('/assets/svg/delete.svg');*/
  /*}*/

  .actions-button::before {
    content: url("/assets/svg/more_info.svg");
  }

  /*.status,*/
  /*.see-task {*/
  /*  padding: 5px;*/
  /*  margin-right: 5px;*/
  /*}*/

  /*.delete {*/
  /*  padding: 5px;*/
  /*}*/

  .actions-button {
    padding: 1px;
    display: inline;
  }

  #tasks td {
    border: 1px solid #ddd;
    padding: 8px 0 8px 8px;
  }

  th.actions::after {
    content: "Act.";
  }

  th.priority-title::after {
    content: "Prio.";
  }



  .created-at, .description, .description-title, .duedate-title, .due-date{
    display: none;
  }

  .title{
    padding: 0px 30px 0px 30px !important;
  }

  .status-title{
    padding: 0px 25px 0px 25px !important;
  }

  .id-title{
    padding: 0px 20px 0px 20px !important;
  }

  #tasks th{
    text-align: center;
  }
}
