
<h2>New task</h2>

<form [formGroup]="myForm" (ngSubmit)="onSave()" class="form">
  <label class="title">Title</label>
  <div>
    <input type="text" class="text-input" formControlName="title" placeholder="Título de la tarea">

    @if(isValidField('title')){
      <span class="error">
        <b>{{getFieldError('title')}}</b>
      </span>
    }

    <!-- <label>
      <input type="checkbox" formControlName="completed"> Completed
    </label> -->
  </div>

  <div>
    <button type="submit" [disabled]="myForm.invalid">
      Guardar
    </button>
  </div>
</form>
