
<h2>New task</h2>

<form [formGroup]="myForm" (ngSubmit)="onSave()" class="form">
  <div class="first-row">
    <div class="first-element-row1">
      <label class="title">Title</label>
      <div class="input-container">
        <input type="text" class="text-input" formControlName="title" placeholder="Title of the task">

        @if(myForm.get('title')?.errors?.['required'] && myForm.get('title')?.touched){
          <span class="error">{{ errors['title'] }}</span>
        }

      </div>
    </div>
    <div class="second-element-row1">
     <label class="title">Priority</label>
     <div>
       <select class="text-input-select" formControlName="priority" >
         <option value="" selected class="selected-option">Select the priority</option>
         @for (item of priorityOptions; track $index) {
           <option [ngValue]="item">{{ item.name }}</option>
         }
       </select>

       @if(myForm.get('priority')?.errors?.['required'] && myForm.get('priority')?.touched){
         <span class="error">{{ errors['priority'] }}</span>
       }
     </div>
    </div>
  </div>

  <div class="second-row">
    <div class="first-element-row2">
      <label class="title">Description</label>
      <div class="input-container">
        <textarea type="text" class="details-input" formControlName="description" placeholder="Description of the task"></textarea>

<!--        @if(errors.title == 'minlength'){-->
<!--          <span class="error">{{errors.msg}}</span>-->
<!--        }-->
        @if(myForm.get('description')?.errors?.['minlength'] && myForm.get('description')?.touched){
          <span class="error">{{ errors['description'] }}</span>
        }

      </div>
    </div>
    <div class="second-element-row2">
      <label class="title">Due Date</label>
      <div>
        <input type="date" class="custom-datepicker" formControlName="dueDate">

        @if(myForm.get('dueDate')?.errors?.['required'] && myForm.get('dueDate')?.touched){
          <span class="error">{{ errors['dueDate'] }}</span>
        }

      </div>
    </div>
  </div>

  <div>
    <button type="submit" [disabled]="myForm.invalid">
      Guardar
    </button>
    @if(taskSaved){
      <span class="success">Tarea guardada</span>
    }
  </div>
</form>
