a {
  text-decoration: none;
  color: black;
}

.navItem {
  padding: 10px 10px 10px 18px;
  font-size: 20px;
}

.nav {
  position: fixed;
  width: 160px;
  height: 100%;
  background-color: #F6F6F6FF;
}

a.active .navItem {
  background-color: #E0E0E0; /* Color de fondo cuando el enlace está activo */
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    background-color: #F6F6F6FF;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navItem {
    margin: 0;
    font-size: 16px;
    text-align: center;
  }

  a {
    flex: 1;
    padding: 10px;
    text-align: center;
  }
}
